<% include ./partials/header %>
            <link rel="stylesheet" type="text/css" href="/stylesheets/add_league.css"/>
            <title>Add Team</title>
            <h1><center>Add Team</center></h1>
        </head>
        
        <body>
            
            <div class="ui green fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="futbol icon" style="font-size: 2em;"></i><h2 style="margin-top: -2px !important;">FutScore</h2></div>
                    <a href="/" class="item">Home</a>
                    <a href="/fav_leagues" class="item">My Leagues</a>
                    <a href="/fav_teams" class="item">My Teams</a>
                </div>
            </div>
            
            <center>
            <form autocomplete="off" action="/add_team" method="POST">
                <div class="ui action input" class="autocomplete" style="width:300px;">
                    <input id="myInput" type="text" name="teamname" placeholder="Search...">
                    <button class="ui icon button">
                        <i class="search icon"></i>
                    </button>
                </div>
            </form>
            <script src="/autocomplete.js"></script>
            <script>
                var newArray = "<%= team %>";
                var teamsArray = newArray.split(",");
                
                autocomplete(document.getElementById("myInput"), teamsArray);
            </script>
            </center>
<% include ./partials/footer %>