<% include ./partials/header %> 
        <link rel="stylesheet" type="text/css" href="/stylesheets/fav_leagues.css"/>
        <title>My Leagues</title>
        <h1><center>My Leagues</center></h1>
    </head>
    <body>
        
        <!-- nav bar -->
        <div class="ui green fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="futbol icon" style="font-size: 2em;"></i><h2 style="margin-top: -2px !important;">FutScore</h2></div>
                <a href="/" class="item">Home</a>
                <a href="/fav_leagues" class="item">My Leagues</a>
                <a href="/fav_teams" class="item">My Teams</a>
            </div>
        </div>
        
        <!-- "Add League" button -->
        <form action="/add_league">
            <button class="ui basic button" id="add_button">
                <i class="plus icon"></i>
                Add League
            </button>
        </form>
        <center>
            <table class="ui selectable celled table" style="width: 80%; text-align: center;">
                <thead>
                    <tr>
                        <th>League</th>
                        <th>Table</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <% leagues.forEach(function(league) { %>
                        <tr style="height: 50px;">
                            <td><%= league.league_name %></td>
                            <form action="/standings/leagues/<%= league.league_name %>" method="get">
                                <td><button name="table" class="ui icon button"><i class="table icon"></i></button></td>
                            </form>
                            <form action="/remove/leagues/<%= league.league_name %>" method="get">
                                <td><button name="removed" class="ui icon button" style="color:red;" ><i class="times icon"></i></button></td>
                            </form>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </center>
<% include ./partials/footer %>