<!--<div class="ui action input">-->
<!--  <input type="text" placeholder="Search...">-->
<!--  <button class="ui icon button">-->
<!--    <i class="search icon"></i>-->
<!--  </button>-->
<!--</div>-->

<!--<form autocomplete="off" action="/favouriteleagues">-->
<!--    <div class="ui action input" style="width:300px;">-->
<!--        <input id="myInput" type="text" name="myCountry" placeholder="Search...">-->
<!--        <button class="ui icon button">-->
<!--            <i class="search icon"></i>-->
<!--        </button>-->
<!--    </div>-->
<!--</form>-->

<html>
    <center>
        <head>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css"/>
            <link rel="stylesheet" type="text/css" href="/stylesheets/favleagues.css"/>
            <h1>Favourite Leagues</h1>
        </head>
        
        <body>
            <form autocomplete="off" action="/favouriteleagues">
                <div class="ui action input" class="autocomplete" style="width:300px;">
                    <input id="myInput" type="text" name="myCountry" placeholder="Search...">
                    <button class="ui icon button">
                        <i class="search icon"></i>
                    </button>
                </div>
            </form>
            <script src="/autocomplete.js"></script>
            <script>
                var leagues = ["Champions League", "Europa League", "LaLiga Santander", "Serie A", "Ligue 1", "Bundesliga", "Major League Soccer"];
            
                autocomplete(document.getElementById("myInput"), leagues);
            </script>
        </body>
    </center>
</html>