.ui.fixed.table.main {
    margin-top: 100px;
}

.ui.fixed.table.tableWidth {
    width: 55%;
    margin-bottom: 30px;
}

.matchRow {
    display: grid;
    grid-template-columns: 50px 1fr 50px 80px 50px 1fr 50px;
    align-items: center;
}

/* For displaying match time with score in the middle */
/* .matchScore {
    display: flex;
    flex-direction: column;
    width: 60px;
    font-size: 15px;
} */

/* For displaying match time on the left  */
.matchScore {
    font-size: 16px;
}

.matchDisplay {
    display: inline;
}

.teamLogoImg {
    height: 40px;
    width: 40px;
    border-bottom: none;
}

.ui.table td.homeTeam {
    text-align: right;
}

.ui.table td.awayTeam {
    text-align: left;
}

.ui.fixed.table tr td {
    border: none;
}

td.teamLogo {
    display: flex;
    justify-content: center;
}
.ui.table {
    background-color: #2b2e33;
    color: white;
}

.dashboardPage {
    padding-bottom: 30px;
}

/* For displaying match time with score in the middle */
/* .ui.green.circular.label {
    padding: 4px 4px 4px 4px !important;
    min-height: 1em;
    margin-top: 4px;
} */

/* For displaying match time on the left */
.ui.green.circular.label {
    padding: 8px !important;
}

.ui.table thead th {
    background-color: #3a3d42;
    color: white;
}

tr {
    border-bottom: 1px solid #3a3d42;
}