.ui.fixed.table.tableWidth {
    width: 45%;
    min-width: 640px;
    margin-bottom: 30px;
}

.ui.table {
    background-color: #2b2e33;
    color: white;
}

.ui.table thead th {
    background-color: #3a3d42;
    color: white;
    height: 45px;
}

.leagueFlag {
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

.leagueLogo {
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

 .tableHeader {
    display: flex;
    justify-content: center;
    align-items: center;
 }